<% include ../partials/header %>

<div class='container'>
    <header class='jumbotron'>
        <div class='container'>
            <h1><%= gallery.title %></h1>
            <p>
                <a class='btn btn-primary btn-lg' href='/galleries/<%= gallery._id %>/photos/new'>Add New Photos</a>
            </p>
        </div>
    </header>
</div>

<div class='container'>
    <div class='row text-center' style='display:flex; flex-wrap:wrap;'>
        <% fullPhotos.forEach( function(photo) { %>
        <div class='col-md-3 col-sm-6'>
            <div class='thumbnail'>
                <a href='/galleries/<%= gallery._id %>/photos/<%= photo.id %>'>
                <img src="<%= photo.img %>" >
            
                </a>
            </div>
        </div>
        <% }) %>
    </div>
</div>  


<% include ../partials/footer %>